<h1>Favorites</h1>

<div class="fav-list">

    {{#each favorites}}

        <div class="fav-item">
            <a href="{{ this.nasa_url }}">
                <img class="fav-image" src="{{ this.url }}">
            </a>

            <span class="fav-title">{{ this.title }}</span>
            <span class="fav-data">{{ this.date }}</span>
            <form method="POST" action="/favorites/delete">
                <button type="submit" class="deleteButton">
                    Delete Image
                </button>
            </form>
        </div>

    {{else}}

        <p>No favorites saved yet.</p>

    {{/each}}
    {{#if favorites}}
        <form action="/favorites/deleteAll" method="POST">
            <button type="submit" class="deleteButton">
                Delete All
            </button>
        </form>
    {{/if}}
</div>